/* 設定 */
a {
    text-decoration : none;
    color           : black;
    font-weight     : 600;
}

/* -------------------------------------------------
    PC
--------------------------------------------------*/

.wrapper {
    max-width : 56.25rem;
    margin    : 0 auto;
}
.flex {
    display         : flex;
    justify-content : space-between;
}
.section-title {
    text-align    : center;
    margin        : 4.375rem 0 2.5rem 0;
    font-size     : 1.5rem;
    font-weight   : 700;
}

/* ヘッダー */
#header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    height          : 5rem;
}
#header .logo a {
    font-size   : 1.25rem;
    font-weight : 600;
}
#header nav .list {
    display : flex;
    gap     : 1.5625rem;
}


/* メイン */
.main-visual {
    background-image  : url(../img/main-vsual.png);
    background-size   : cover;
    background-repeat : no-repeat;
    width             : 100%;
    height            : 25rem;
}
#about .flex .img {
    width : 45%;
}
#about .flex .img img {
    max-width : 100%;
}
#about .flex .text {
    line-height : 1.5;
    font-weight : 600;
}
#coas-list .flex .content {
    width : 30%;
}
#coas-list .flex .content img {
    max-width     : 100%;
    margin-bottom : 0.625rem;
}
#coas-list .flex .content .title {
    font-weight : 550;
}
#inquiries form p {
    text-align  : center;
    font-weight : 600;
}
#inquiries form input {
    display      : block;
    margin-left  : auto;
    margin-right : auto;
}
#inquiries form .text-box {
    width         : 31.25rem;
    margin-bottom : 1.875rem;
    padding       : 0.625rem 0.3125rem;
    border        : 0.125rem solid lightgray;
    border-radius : 1.125rem;
    color         : lightgray;
}
#inquiries form .button {
    width            : 21.875rem;
    height           : 3.125rem;
    margin           : 0 auto 5rem auto;
    border           : none;
    border-radius    : 0.3125rem;
    background-color : rgb(237, 116, 124);
    color            : white;
    font-size        : 1.1rem;
    font-weight      : 600;
}

/* フッター */
#footer ::before {
    display       : block;
    content       : "";
    width         : 100%;
    margin-bottom : 0.9375rem;
    border        : 1px solid lightgray;
}
#footer p {
    text-align    : end;
    margin-bottom : 1.875rem;
    color         : black;
}



/* -------------------------------------------------
    SP
--------------------------------------------------*/
@media screen and (max-width :37.5rem) {
    /* 設定 */
    .wrapper {
        max-width : 90%;
        margin    : 0 auto;
    }
    .flex {
        flex-direction  : column;
        align-items : center;
    }
    .section-title {
        margin-bottom : 1.5625rem;
    }

    /* ヘッダー */
    #header {
        flex-direction  : column;
        justify-content : space-around;
    }
    #header .logo a {
        font-size   : 1.5rem;
        font-weight : 700;
    }

    /* メイン */
    .main-visual {
        background-image  : url(../img/main-vsual-nontitle.png);
        height            : 34.375rem;
    }
    #about .flex .img {
        width         : 100%;
        margin-bottom : 1.25rem;
    }
    #about .flex .text {
        font-weight : 400;
    }
    #about .flex .text .none {
        display : none;
    }
    #coas-list .flex .content {
        width : 100%;
    }
    #coas-list .flex .content img {
        margin-top    : 1.25rem;
        margin-bottom : 3px;
    }
    #coas-list .flex .content .title {
        font-weight : 400;
    }
    #coas-list .flex .content im:first-child {
        margin-top    : 0;
    }
    #inquiries form .text-box {
        width         : 90%;
        margin-top    : 1.25rem;
        padding       : 0.9375rem 0.625rem;
        border        : 0.25rem solid lightgray;
        border-radius : 1.4375rem;
    }
    #inquiries form .button {
        width  : 95%;
        height : 4.375rem;
    }
    #inquiries form p {
        font-weight : 400;
    }
    #footer p {
        text-align : center;
        font-size  : 0.5rem;
    }
}